<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Spring3EXTM_12.00_AOP_RawPointCutNAdvisor/src/com/techmentro/training/spring/aopdemo/IocUser.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.techmentro.training.spring.aopdemo.IocUser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Spring3EXTM_12.00_AOP_RawPointCutNAdvisor"/>
</launchConfiguration>
